@use 'sass:color';

// base color sheme
$color-primary: #bef;
$color-secondary: #4ab;
$color-text: #E5E4E2; // platinum

$color-bg: rgba(0,1,1,1);

$color-bg-highlight: rgba(255, 255, 255, 0.1);
$color-bg-active: rgba(255, 255, 255, 0.2);

$color-txt-lighten: rgba(255, 255, 255, 0.5);

$bg-overlay: rgba(19, 21, 25, 0.5);
$bg-overlay-fo: rgba(19, 21, 25, 1);

// pallette
:root {
	--color-primary: #{$color-primary};
	--color-secondary: #{$color-secondary};
	--color-text: #{$color-text};

	--color-bg: #{$color-bg};
	--color-bg-article: #{color.scale($color-bg, $alpha: -20%)};
	--color-bg-highlight: #{$color-bg-highlight};
	--color-bg-active: #{$color-bg-active};

	--color-border: #{var(--color-secondary)};

	--color-txt: #{var(--color-text)};
	--color-txt-bold: #{var(--color-primary)};
	--color-txt-light: #{lighten($color-text, 5%)};

	--bg-overlay: #{$bg-overlay};
	--bg-overlay-fo: #{$bg-overlay-fo};
}
