// base color sheme
$color-primary: #078;
$color-secondary: #fb3;
$color-complementary: #ddd;

$color-bg: #111;
$color-bg-article: transparentize($color-bg, 0.15);
$color-fg: $color-complementary;
$color-fg-bold: $color-primary;
$color-fg-light: rgba(255, 255, 255, 0.5);

$bg-overlay: rgba(19, 21, 25, 0.5);
$bg-overlay-fo: rgba(19, 21, 25, 1);



// pallette
:root {
	--color-primary: #{$color-primary};
	--color-secondary: #{$color-secondary};
	--color-complementary: #{$color-complementary};

	--color-bg: #{$color-bg};
	--bg-overlay: #{$bg-overlay};
	--bg-overlay-fo: #{$bg-overlay-fo};

	--color-fg: #{$color-fg};
	--color-fg-bold: #{$color-fg-bold};
	--color-fg-light: #{$color-fg-light};

	--color-border-bg: rgba(255, 255, 255, 0.075);
	--color-border-bg-alt: rgba(255, 255, 255, 0.175);
}
