@use 'sass:map';

// durations
$duration-transition: 0.2s;
$duration-bg: 2.5s;
$duration-ss: 0.85s;
$duration-intro: 0.75s;
$duration-article: 1.2s;

// spacing and sizes
$size-border-radius: 4px;
$size-border-width: 1px;
$size-elem-hgth: 2.75rem;
$spc-padding-side-txt: 0.5rem;
$spc-padding-cell: 0.5rem;
$spc-mrgn-base: 1.5rem;
$spc-padding-button: 1rem;

// scrollbar
$th-width: 6px;
$th-height: 5px;
$th-radius: 5px;
$th-shadow: 0;
$th-shadow-blur: 0;
$th-border-width: 0;
$tr-width: 100%;
$tr-radius: 5px;
$sb-radius: 5px;
$sb-width: 6px;
$sb-height: 5px;
$b-radius: 5px;
$bg: #555;
