@use 'sass:map';

$font-weights: (
	regular: 400,
	medium: 500,
	bold: 700
);

// Misc.
$misc: (
	z-index-base: 10000
);

// Duration.
$duration: (
	transition: 0.2s,
	bg: 2.5s,
	ss: 0.85s,
	intro: 0.75s,
	article: 1.2s
);

// Size.
$size: (
	border-radius: 4px,
	border-width: 1px,
	element-height: 2.75rem,
	element-margin: 1rem
);

// Font.
$font: (
	family-default: (
		'Source Sans Pro',
		sans-serif
	),
	family-bahn: (
		'Bahnschrift',
		sans-serif
	),
	family-fixed: (
		'Courier New',
		monospace
	),
	light: 300,
	regular: 500,
	bold: 600,
	letter-spacing: 0.17rem,
	letter-spacing-heading: 0.3rem
);

// Palette.
$palette: (
	primary: #{var(--color-primary)},
	secondary: #{var(--color-secondary)},
	complementary: #{var(--color-complementary)},

	bg: $color-bg,// #{var(--color-bg)},
	bg-alt: #{var(--color-bg-alt)},
	bg-overlay: #{var(--bg-overlay)},
	bg-overlay-fo: #{var(--bg-overlay-fo)},

	fg: #{var(--color-fg)},
	fg-bold: #{var(--color-fg-bold)},
	fg-light: #{var(--color-fg-light)},

	border: #{var(--color-complementary)},
	border-bg: #{var(--color-border-bg)},
	border-bg-alt: #{var(--color-border-bg-alt)}
);

// Scrollbar
$scrollbar: (
	th-width: 6px,
	th-height: 5px,
	th-radius: 5px,
	th-shadow: 0,
	th-shadow-blur: 0,
	th-border-width: 0,

	tr-width: 100%,
	tr-radius: 5px,

	sb-radius: 5px,
	sb-width: 6px,
	sb-height: 5px,

	b-radius: 5px,

	bg: #555
);
