@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@font-face {
  font-family: 'Bahnschrift';
  src: url('../webfonts/bahnschrift.eot'); /* IE9*/
  src:
    url('../webfonts/bahnschrift.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../webfonts/bahnschrift.woff2') format('woff2'),
    /* chrome、firefox */ url('../webfonts/bahnschrift.woff') format('woff'),
    /* chrome、firefox */ url('../webfonts/bahnschrift.ttf') format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../webfonts/bahnschrift.svg#Bahnschrift') format('svg'); /* iOS 4.1- */
}

// font
$font-base-size: 1rem;

$font-weight-light: 300;
$font-weight-regular: 500;
$font-weight-bold: 600;

$font-family-default: 'Titillium Web', sans-serif;
$font-family-bahn: 'Bahnschrift', sans-serif;
$font-family-mono: 'Courier New', monospace;
$font-family-fa-brands: 'Font Awesome 5 Brands', sans-serif;
$font-family-fa-free: 'Font Awesome 5 Free', sans-serif;

$font-letter-spacing: 0.15rem;
$font-letter-spacing-heading: 0.3rem;