/* Bar */
::-webkit-scrollbar {
    width: $sb-width;
    height: $sb-height;
}

/* Track */
::-webkit-scrollbar-track {
    // box-shadow: $global-box-shadow;
    // -webkit-box-shadow: $global-box-shadow;
    -webkit-border-radius: $th-radius;
    border-radius: $b-radius;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: $tr-radius;
    border-radius: $b-radius;
    background: $bg;
}
