/* Type */

html {
	font-size: 16pt;

	@include breakpoint('<=xlarge') {
		font-size: 12pt;
	}

	@include breakpoint('<=small') {
		font-size: 11pt;
	}

	@include breakpoint('<=xxsmall') {
		font-size: 10pt;
	}
}

body,
input,
select,
textarea {
	color: #{var(--color-txt)};
	font-family: _font(family-default);
	font-weight: _font(light);
	font-size: 1rem;
	line-height: 1.5;
}

a {
	@include vendor(
		'transition',
		(
			'color #{_duration(transition)} ease-in-out',
			'background-color #{_duration(transition)} ease-in-out',
			'border-bottom-color #{_duration(transition)} ease-in-out'
		)
	);
	border-bottom: dotted 1px #{var(--color-txt-light)};
	text-decoration: none;
	color: inherit;

	&:hover {
		border-bottom-color: #{var(--color-secondary)};
	}
}

strong,
b {
	color: #{var(--color-txt-bold)};
	font-weight: _font(bold);
}

em,
i {
	font-style: italic;
}

p {
	letter-spacing: 0.125rem;
	font-size: 1.1rem;
	line-height: 1.8;
	margin: 0 0 _size(element-margin) 0;
}

h2,
h3,
h4,
h5,
h6 {
	font-weight: _font(bold);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: _font(family-bahn);
	color: #{var(--color-primary)};
	line-height: 1.5;
	margin: 0 0 _size(element-margin) 0;
	text-transform: uppercase;
	letter-spacing: _font(letter-spacing-heading);

	a {
		color: inherit;
		text-decoration: none;
	}

	&.major {
		border-bottom: solid _size(border-width) #{var(--color-border)};
		width: 100%;
		padding-bottom: 0.5rem;
		margin: 0 0 (_size(element-margin) * 1) 0;
	}
}

h1 {
	font-weight: _font(light);
	font-size: 2.35rem;
	line-height: 1.3;
}

h2 {
	font-size: 1.5rem;
	line-height: 1.4;
}

h3 {
	font-size: 1rem;
}

h4 {
	font-size: 0.8rem;
}

h5 {
	font-size: 0.7rem;
}

h6 {
	font-size: 0.6rem;
}

sub {
	font-size: 0.8rem;
	position: relative;
	top: 0.5rem;
}

sup {
	font-size: 0.8rem;
	position: relative;
	top: -0.5rem;
}

blockquote {
	border-left: solid (_size(border-width) * 4) #{var(--color-border)};
	font-style: italic;
	margin: 0 0 _size(element-margin) 0;
	padding: calc(_size(element-margin) / 4) 0 calc(_size(element-margin) / 4) _size(element-margin);
}

code {
	background: #{var(--color-bg-highlight)};
	border-radius: _size(border-radius);
	font-family: _font(family-fixed);
	font-size: 0.9rem;
	margin: 0 0.25rem;
	padding: 0.25rem 0.65rem;
}

pre {
	-webkit-overflow-scrolling: touch;
	font-family: _font(family-fixed);
	font-size: 0.9rem;
	margin: 0 0 _size(element-margin) 0;

	code {
		display: block;
		line-height: 1.75;
		padding: 1rem 1.5rem;
		overflow-x: auto;
	}
}

hr {
	border: 0;
	border-bottom: solid _size(border-width) #{var(--color-border)};
	margin: (_size(element-margin) * 1.375) 0;
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

.justified {
	text-align: justify;
}

.pointer-none {
	pointer-events: none;
}

.uppercase {
	text-transform: uppercase;
}

.lowercase {
	text-transform: lowercase;
}

.bold {
	font-weight: 400;
}

.underlined {
	border-bottom: 1px dotted #{var(--color-txt-light)} !important;
}

.strikethrough {
	text-decoration: line-through;
}

.copy {
	cursor: pointer;
}

.donate-wrapper {
	width: 100%;
}

.donate {
	display: block;
	text-align: center;
	font-size: 2.5rem !important;
}

iframe {
	width: 100%;

	min-height: 420px;

	@include breakpoint('<=xlarge') {
		min-height: 320px;
	}

	@include breakpoint('<=small') {
		min-height: 170px;
	}

	@include breakpoint('<=xxsmall') {
		min-height: 120px;
	}
}

.lineup {
	margin: 0.25rem auto;
	margin-left: 1rem;
}

.quote {
	text-transform: initial;
	font-style: italic;
}
