<h1 class="major">About Us</h1>

<br>

<iframe src="https://www.youtube.com/embed/sbTQKK7y1kQ"
    title="RUHRDŸNE e.V. STONER NACHT Vol.6 - MUCKE, BIER & FREUNDE!"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>

<hr>

<p class="justified">Was im Frühjahr 2019 mit einer Schnaps-Idee <i>„Livemusik zu einem Geburtstag“</i>
    begann, entwickelte sich durch die Begeisterung von Bands und Gästen zu einem Dauerbrenner. Seitdem
    versuchen wir immer wieder auf's Neue Bands in familiärer & freundschaftlicher Atmosphäre vor einem
    dankbaren Publikum spielen zu lassen. Stellen noch ein paar Kisten Bier kalt und es heißt:</p>

<h3>Mucke, Bier & Freunde</h3>

<p class="justified">Seitdem fanden sich immer mehr Musikliebhaber*innen und Freunde zusammen, um
    gemeinsam das Ding zum
    Leben zu erwecken. Von Beginn an organisieren wir alles… Booking, Sound, Technik, Deko aus
    eigener Hand. So entstand ein Konzept, in dem in jedem Detail unsere persönliche Note steckt. Um uns
    organisatorisch und künstlerisch weiterzuentwickeln, lag es daher irgendwann nahe, aus unserer
    Anhäufung von musikbegeisterten Freunden einen <a target="_blank" href="doc/Satzung_wo_adresses.pdf">Verein</a>
    zu gründen. Nach längerer Atempause durch die Corona Pandemie konnten wir Ende 2022 mit der
    Vereinsgründung die Grundlage für weitere unvergessliche Abende schaffen.</p>

<h3>RuhrDÿne <span class="lowercase">e</span>.V.</h3>

<p class="justified">Dabei ist es uns besonders wichtig, dass jeder kommen kann, der will-egal wie voll
    oder leer sein
    Portemonnaie grade ist. Wir finanzieren unsere Konzertabende ausschließlich über eure Spenden. Ihr -
    die Gäste entscheidet, wieviel Euch der Abend und das Bier wert sind. Alle Einnahmen gehen nach
    Abzug unserer Kosten zu 100% an die Musiker*innen.</p>

<p class="justified">Wollt ihr darüber hinaus einen Beitrag leisten, könnt ihr euch auf vielen Wegen mit
    einbringen. Ob
    durch Mithilfe an den Abenden selbst, durch Know-How oder durch <a href="#support">Geld- oder
        Sach-Spenden</a>.
    Sprecht uns einfach an oder schreibt uns eine Mail an <a href="#" class="copy">ichwill@ruhrdyne.de</a>.</p>

<h3>Wir freuen uns auf Euch!</h3>

<br>

<iframe src="https://www.youtube.com/embed/uED7Tyxqy5c" title="RuhrDÿne e.V. BLKQPRTY SEPTEMBER 2022" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>

<hr> 