<section>

    <h2 class="major">Past Events</h2>

    <h2>08.10.2022</h2>

    <h2>RUHRDŸNE STONER NACHT Vol. 6</h2>

    <span class="image main"><img src="assets/img/events/banner_rd_evt_06.png" alt="" /></span>

    <p> Mit
        <a href="https://www.facebook.com/aeontemple" target="_blank">Aeon Temple</a> //
        <a href="https://van-groover.bandcamp.com/" target="_blank">Van Groover</a> //
        <a href="https://sleepinggreen.bandcamp.com/releases" target="_blank">Sleeping Green</a> und
        <a href="https://stargo.bandcamp.com/album/dammbruch" target="_blank">Stargo</a>
    </p>

    <hr>

    <h3>16. + 17.09.2022</h3>

    <h2>BLKQPRTY - UMSONST & DRAUßEN</h2>

    <span class="image main"><img src="assets/img/events/banner_rd_evt_blkqprty.png" alt="" /></span>

    <p><a href="https://schubmodul.bandcamp.com/releases" target="_blank">Schubmodul</a>,
        <a href="https://stonerhead.bandcamp.com/album/fuzztronauten" target="_blank">Stonerhead</a> und
        <a href="https://www.facebook.com/aeontemple" target="_blank">Aeon Temple</a>
    </p>

    <hr>

    <h3>26.03.2022</h3>
    <span class="image main"><img src="assets/img/events/banner_rd_evt_05.png" alt="" /></span>

    <p><a href="https://schubmodul.bandcamp.com/releases" target="_blank">Schubmodul</a> // <a
            href="https://sleepinggreen.bandcamp.com/releases" target="_blank">Sleeping Green</a> // <a
            href="https://zentrip.bandcamp.com/" target="_blank">Zen Trip</a> // <a
            href="https://mudfinger.bandcamp.com/album/psychonaut" target="_blank">Mudfinger</a> // <a
            href="https://purpledawndoom.bandcamp.com/" target="_blank">Purple Dawn</a></p>

    <p>Zen Trip & Schubmodul sind leider ausgefallen wegen Corona-Q. Dafür sind <a
            href="https://scorchedoak.bandcamp.com/" target="_blank">Scorched Oak</a> spontan
        eingesprungen</p>
    <hr>

    <h3>23.10.2021</h3>
    <span class="image main"><img src="assets/img/events/banner_rd_evt_04.png" alt="" /></span>
    <p><a href="https://schubmodul.bandcamp.com/releases" target="_blank">Schubmodul</a> //
        <a href="https://scorchedoak.bandcamp.com/" target="_blank">Scorched Oak</a> //
        <a href="https://www.facebook.com/aeontemple" target="_blank">Aeon Temple</a> //
        <a href="https://plaindrifter.bandcamp.com/" target="_blank">Plaindrifter</a>
    </p>
    <hr>

    <h3>14.03.2020</h3>
    <span class="image main"><img src="assets/img/events/banner_rd_evt_03.png" alt="" /></span>
    <p><a href="https://greenstone-rock.bandcamp.com/" target="_blank">Greenstone</a> //
        <a href="https://rogue-result.bandcamp.com/releases" target="_blank">Rogue Result</a> //
        <a href="https://scorchedoak.bandcamp.com/" target="_blank">Scorched Oak</a> //
        <a href="https://plaindrifter.bandcamp.com/" target="_blank">Plaindrifter</a>
    </p>
    <hr>

    <h3>21.10.2019</h3>
    <span class="image main"><img src="assets/img/events/banner_rd_evt_02.png" alt="" /></span>
    <p><a href="https://drippingcoats.bandcamp.com/releases" target="_blank">Dripping Coats</a> //
        <a href="https://rogue-result.bandcamp.com/releases" target="_blank">Rogue Result</a> //
        <a href="https://apewards.bandcamp.com/" target="_blank">Apewards</a> //
        <a href="https://spheronaut.bandcamp.com/" target="_blank">Spheronaut</a> //
        <a href="https://fashionkillersde.bandcamp.com/" target="_blank">Fashion Killers</a>
    </p>
    <hr>

    <h3>31.03.2019</h3>
    <span class="image main"><img src="assets/img/events/banner_rd_evt_01.png" alt="" /></span>
    <p><a href="https://apewards.bandcamp.com/" target="_blank">Apewards</a> //
        <a href="https://atomicpeat.bandcamp.com/" target="_blank">Atomic Peat</a>
    </p>
    <hr>
</section>