<div class="logo">
    <img src="assets/img/ruhrdyne_logo.svg" alt="RuhrDÿne Logo">
</div>
<div class="content">
    <div class="inner">
        <h1>RuhrDÿne <span class="lowercase">e</span>.V.</h1>
        <p>Mucke, Bier & Freunde</p>
    </div>
</div>
<nav>
    <ul>
        <li><a href="#intro">About Us</a></li>
        <li><a href="#events">Events</a></li>
        <li><a href="#support">Support Us</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a target="_blank" href="doc/Satzung_wo_adresses.pdf">Satzung</a></li>

    </ul>
</nav>