<h1 class="major">RUHRDŸNE</h1>

<iframe width="560" height="315" src="https://www.youtube.com/embed/sbTQKK7y1kQ" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>

<p>
    Was im Frühjahr 2019 mit einer Schnaps-Idee „Livemusik zu einem Geburtstag“ begann, entwickelte sich durch die
    Begeisterung von Bands und Gästen zu einem Dauerbrenner. Seitdem versuchen wir immer wieder aufs Neue Bands in
    familiärer & freundschaftlicher Atmosphäre vor einem dankbaren Publikum spielen zu lassen. Stellen noch ein paar
    Kisten Bier kalt und es heißt:</p>

<p>Mucke, Bier & Freunde</p>

<p>Seitdem fanden sich immer mehr Musikliebhaber*innen und Freunde zusammen, um gemeinsam das Ding zum Leben zu
    erwecken. Von Beginn an organisierten wir alles… Booking, Sound, Technik, Deko usw. aus eigener Hand. So entstand
    ein Konzept, in dem in jedem Detail unsere persönliche Note steckt. Um uns organisatorisch und künstlerisch
    weiterzuentwickeln, lag es daher irgendwann nahe, aus unserer Anhäufung von Musikbegeisterten Freunden einen Verein
    zu gründen. Nach längerer Atempause durch die Corona Pandemie konnten wir Ende 2022 mit der Vereinsgründung die
    Grundlage für weitere unvergessliche Abende schaffen:</p>

<h4><b>RuhrDÿne e.V.</b></h4>

<p>Dabei ist es uns besonders wichtig, dass jeder kommen kann, der will-egal, wie voll oder leer sein Portemonnaie
    grade ist. Wir finanzieren unsere Stoner Nächte ausschließlich über eure Spenden. Ihr - die Gäste, entscheidet,
    wieviel Euch der Abend und das Bier wert sind. Alle Einnahmen gehen nach Abzug unserer Kosten zu 100% an die
    Musiker*innen.</p>

<p>[Bild vom Spendenrohr]</p>

<p>Wollt ihr darüber hinaus einen Beitrag leisten, könnt ihr euch auf vielen Wegen mit einbringen. Ob durch Mithilfe an
    den Abenden selbst, durch Know How oder durch Geld- oder Sach-Spenden. Sprecht uns einfach an oder schreibt uns eine
    Mail.</p>

<h4>Wir freuen uns auf Euch!</h4>