.content {
    background-image: url('https://ruhrdyne.de/ref/image-3.png');
    background-repeat: no-repeat;
    background-position: center top;

    background-color: $color-content-bg;

    border: 1px solid $color-secondary;

    padding: 300px 3rem 2rem 3rem;

    @media only screen and (min-width: 601px) {
        padding: 300px 5rem 2rem 5rem;
    }

    overflow-y: auto;
}
