footer {
    a {
        display: inline-block;

        margin: 2rem 0.5rem;

        img {
            width: $button-size;
            height: auto;

            outline: none;
            text-decoration: none;
            clear: both;

            border: none;
            float: none;
        }
    }
}
