.aw-logo-no-fill,
.aw-logo-no-fill {
	fill: none;
}

.aw-logo-fill {
	fill: var(--color-text) !important;
}

.aw-logo-no-fill {
	stroke: var(--color-text) !important;
	stroke-miterlimit: 10;
	stroke-width: 7px;
}
