.close {
    position: sticky;
    float: right;

    z-index: 5;

    top: 0;
    right: 0;

    width: 2rem;
    height: 2rem;

    cursor: pointer;

    > div {
        position: absolute;
        top: 0;
        right: 0;

        width: 2rem;

        border-bottom: 1px solid var(--color-primary);

        &:first-child {
            transform: translateY(1rem) rotate(45deg);
        }

        &:last-child {
            transform: translateY(1rem) rotate(-45deg);
        }
    }
}
