.close {
    position: sticky;
    float: right;

    z-index: 5;

    top: 0;
    right: 0;

    width: 2rem;
    height: 2rem;

    cursor: pointer;

    > div {
        position: absolute;
        top: 0;
        right: 0;

        border-bottom: 1px solid var(--color-primary);

        &:first-child {
            transform: translate(0rem, 1rem) rotate(45deg);
            width: 2rem;
        }

        &:last-child {
            transform: translate(0rem, 1rem) rotate(-45deg);
            width: 2rem;
        }
    }

    &.animate {
        > div:first-child {
            animation: hideCloseBtn45 .8s ease-in-out forwards;
        }

        > div:last-child {
            animation: hideCloseBtnMinus45 .8s ease-in-out forwards;
        }
    }
}
