/* Image */
.image {
	border-radius: $size-border-radius;
	border: 0;
	display: inline-block;
	position: relative;

	&:before {
		@include vendor('pointer-events', 'none');
		background-image: url('../img/bg/overlay.png');
		background-color: #{var(--bg-overlay)};
		border-radius: $size-border-radius;
		content: '';
		display: block;
		height: 100%;
		left: 0;
		opacity: 0.5;
		position: absolute;
		top: 0;
		width: 100%;
	}

	img {
		border-radius: $size-border-radius;
		display: block;
	}

	&.left,
	&.right {
		max-width: 40%;

		img {
			width: 100%;
		}
	}

	&.left {
		float: left;
		padding: 0 1.5em 1em 0;
		top: 0.25em;
	}

	&.right {
		float: right;
		padding: 0 0 1em 1.5em;
		top: 0.25em;
	}

	&.fit {
		display: block;
		margin: 0 0 $size-elem-mrgn 0;
		width: 100%;

		img {
			width: 100%;
		}
	}

	&.main {
		display: block;
		margin: ($size-elem-mrgn * 1.25) 0;
		width: 100%;

		img {
			width: 100%;
		}
	}

	@include breakpoint('<=small') {
		&.main {
			margin: ($size-elem-mrgn * 1) 0;
		}
	}

	@include breakpoint('<=xsmall') {
		&.main {
			margin: ($size-elem-mrgn * 0.75) 0;
		}
	}
}
