/* List */
ol {
	list-style: decimal;
	margin-bottom: $spc-mrgn-base;
	padding-left: 1.25em;

	li {
		padding-left: 0.25em;
	}
}

ul {
	list-style: disc;
	margin-bottom: $spc-mrgn-base;
	padding-left: 1em;

	li {
		padding-left: 0.5em;
	}

	&.alt {
		list-style: none;
		padding-left: 0;

		li {
			border-top: solid $size-border-width var(--color-border);
			padding: 0.5em 0;

			&:first-child {
				border-top: 0;
				padding-top: 0;
			}
		}
	}
}

dl {
	margin-bottom: $spc-mrgn-base;

	dt {
		display: block;
		font-weight: $font-weight-bold;
		margin-bottom: ($spc-mrgn-base * 0.5);
	}

	dd {
		margin-left: $spc-mrgn-base;
	}
}
