/* size */
$button-size: 2.5rem;

/* screen sizes */
$min-supported-width: 320px !default;
$max-width: 600px !default;

/* color */
$color-content-bg: #181818;
$color-bg: #110011;

$color-primary: #240024;
$color-highlight: #330033;
$color-secondary: #df962b;
$color-text: #f4f4f4;

/* spacing */
$base-size: 1rem;
$font-size: 1rem;
